<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css" />
</head>


<style>
  *{
    box-sizing: border-box;
  }
  
  body{
    background:#FFCC56;
    color:#485e74;
    line-height:1.6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding:1em;
  }
  
  .container{
    max-width:1170px;
    margin-left:auto;
    margin-right:auto;
    padding:1em;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  ul{
    list-style: none;
    padding:0;
  }
  
  .brand{
    text-align: center;
  }
  
  .brand span{
    color:#fff;
  }
  
  .wrapper{
    box-shadow: 0 0 20px 0 rgba(72,94,116,0.7);
    text-align: center;
  }
  
  .wrapper > *{
    padding: 1em;
  }
  
  .company-info{
    background:#c9e6ff;
  }
  
  .company-info h3, .company-info ul{
    text-align: center;
    margin:0 0 1rem 0;
  }
  
  .contact{
    background:#f9feff;
    border-radius: 5px;
  }
  
  /* FORM STYLES */
  .contact #formInfo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:20px;
  }
  
  .contact #formInfo label{
    display:block;
  }
  
  .contact #formInfo p{
    margin:0;
  }

  .contact #formInfo input {
    border-radius: 5px;
  }
  
  .contact #formInfo .full{
    grid-column: 1 / 3;
  }
  
  .contact #formInfo button, .contact #formInfo input, .contact #formInfo textarea{
    width:100%;
    padding:1em;
    border:1px solid #c9e6ff;
  }
  
  .contact #formInfo button{
    background:#FFCC56;
    border:0;
    border-radius: 5px;
    text-transform: uppercase;
  }
  
  .contact #formInfo button:hover,.contact #formInfo button:focus{
    background:rgba(72,94,116,0.7);
    color:#fff;
    outline:0;
    transition: background-color 2s ease-out;
  }

  #submitButton{
    opacity: 0.5;
  }
  
  /* LARGE SCREENS */
  @media(min-width:700px){
    .wrapper > *{
      padding:2em;
    }
  
    .company-info h3, .company-info ul, .brand{
      text-align: left;
    }
  }

  .failedPassReset{
    width: 100%;
    height: 100%;
    background-color: tomato;
    z-index: 100;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .successPassReset{
    width: 100%;
    height: 100%;
    background-color: #6BCB77;
    z-index: 100;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  #succesText {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #FFCC56;
    font-size: 24px;
  }

</style>

<script>
  const url = new URL(window.location.href)
  const token = url.searchParams.get("token");
  const userId = url.searchParams.get("id");
  
  const handleChange = () =>{
  const password = document.getElementById('password').value 
  const secondValue = document.getElementById('confirm_password').value
    const button = document.getElementById('submitButton')
    if (password ==secondValue ) {
      button.style.opacity=1;
    }
  }
  
  const handleSubmit = () =>{
    const password = document.getElementById('password').value 
    // Make a POST request
    fetch('http://localhost:8080/users/auth/resetPassword', {
      method: 'POST',
      headers: {
        "Accept": "application/json",
        "Content-Type": "application/json"
    },
    body: JSON.stringify({
      "userId":userId,
      "password": password,
      "token": token
    })
    }).then(function (response) {
      if (response.ok) {
        return succesMessage();
      } else {
        failedMessage()
      }
    }).catch(function (error) {
      failedMessage()
    })
  }

 
  const failedMessage = () =>{
    const template = Handlebars.compile(document.querySelector("#failedTemplate").innerHTML)
    const styled = template()
    document.querySelector(".wrapper").innerHTML= styled
  }

  const succesMessage = () =>{
    const template = Handlebars.compile(document.querySelector("#succesTemplate").innerHTML)
    const styled = template()
    document.querySelector(".wrapper").innerHTML= styled
  }

</script>
<script src="https://twitter.github.io/typeahead.js/js/handlebars.js"></script>
<body>
  <div class="container">
    <h1 class="brand"><span>Password</span> Reset</h1>
    <div class="wrapper animated bounceInLeft">

      <script type="text/x-handlebars-template" id="succesTemplate">
        <div class="successPassReset">
          <p id="succesText"> Password reset successful!</p>
        </div>
      </script>

      <script type="text/x-handlebars-template" id="failedTemplate">
        <div class="failedPassReset">
          <p id="succesText"> Invalid or expired password reset token!</p>
        </div>
      </script>

      <div class="contact">
        <h3>Enter New Password!</h3>
        {{msg}}
        <div action="" id="formInfo">
          <p>
            <label>Password</label>
            <input type="password" id="password" onkeyup="handleChange()" name="password">
          </p>
          <p>
            <label>Re-Enter Password</label>
            <input type="password" id="confirm_password" onkeyup="handleChange()" name="confirm_password">
          </p>
          <p class="full">
            <button type="submit" onclick="handleSubmit()" id="submitButton">Submit</button>
          </p>
        </div>
      </div>
    </div>
  </div>
</body>
</html>